body {
    margin: 0;
    background: #020617;
    color: #e2e8f0;
    font-family: "Courier New", monospace;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 20px;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #020617;
    border: 1px solid #00ffcc;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffcc33;
}

h2, h3 {
    color: #00ffcc;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: black;
    color: white;
    border: 1px solid #00ffcc;
}

button {
    padding: 8px 12px;
    margin: 2px;
    border: 1px solid #00ffcc;
    background: black;
    color: #00ffcc;
    cursor: pointer;
}

button:hover {
    background: #00ffcc;
    color: black;
}

table {
    width: 100%;
}

footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #00ffcc;
    color: #00ffcc;
}

.footer-name {
    text-shadow: 0 0 10px #00ffcc;
}