<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="page">
<div class="main">
<div class="card">

<h2>Request WiFi</h2>

<form method="POST">
<input name="name" placeholder="Name">
<input name="mac" placeholder="MAC Address">
<button>Send</button>
</form>

<p>{{ message }}</p>

</div>
</div>

<footer>
<p>MADE BY <span class="footer-name">NARENDRA KRISHAN KS (AIML)</span></p>
</footer>

</div>
</body>
</html>