<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="page">
<div class="main">
<div class="card">

<h2>Admin(nkk) Login</h2>

<form method="POST">
<input name="username" placeholder="Username">
<input name="password" type="password" placeholder="Password">
<button>Login</button>
</form>

</div>
</div>

<footer>
<p>MADE BY <span class="footer-name">NARENDRA KRISHAN KS (AIML)</span></p>
</footer>

</div>

{% if error %}
<script>
alert("{{ error }}");
</script>
{% endif %}

</body>
</html>